* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

h1 {
    padding: 5% 0 3% 0;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.9vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 10vmin;
    color: maroon;
    background-color: #ffffc7;
}

.reset-btn {
    padding: 0.3rem;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    border-radius: 0.4rem;
    background-color: burlywood;
    color: crimson;
}

#new-btn {
    padding: 0.3rem;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    border-radius: 0.4rem;
    background-color: burlywood;
    color: crimson;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}


.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}